-function isTrue(s,y,n){if(s){return y}else{return n}}

mixin statistic(label,theClass,value)
	.ts.card
		.padded.center.aligned.content
			.ts.primary.statistic(class=theClass) 
				.value=value
				.label=label

include _header.pug
include _nav.pug
.ts.narrow.container
	h1.ts.header=lang.index.welcome.before+title+lang.index.welcome.after
		.sub.header=lang.index.welcome.subHeader
	.ts.four.doubling.cards
		+statistic(lang.index.sitePort,'',config.sitePort)
		+statistic(lang.index.passwordStatus,isTrue(config.password.status,'positive','negative'),isTrue(config.password.status,lang.other.on,lang.other.off))
		+statistic(lang.index.password,'',config.password.password)
		+statistic(lang.index.autoRefresh,'',config.autoRefresh+lang.clock.min)
		+statistic(lang.index.allowRefresh,isTrue(config.allowRefresh.status,'positive','negative'),isTrue(config.allowRefresh,lang.other.yes,lang.other.no))
		+statistic(lang.index.posts,'',data.length)
		+statistic(lang.index.postPerPage,'',config.postPerPage)
		+statistic(lang.index.lang,'',config.lang)
		
include _footer.pug