extends _layout.pug
block content
	.ts.container(style="margin-top:30px")
		if(message)
			h1.ts.center.aligned.negative.header=lang.login.errorHeader
				.sub.header=message
		else
			h1.ts.center.aligned.header=lang.login.header
				.sub.header=lang.login.subHeader
		#login.ts.centered.secondary.segment
			.ts.form
				.field
					label=lang.login.password
					input(type='password', placeholder='', id='userPASS', name='userPASS',required)
				button.ts.positive.fluid.button(onclick='check()')=lang.login.loginButton
block footer
	script(src='/js/login.js')
