include _header.pug
include _nav.pug
.ts.container
    -if(page=='search'||page=='search_list')
        h3.ts.header=lang.search.nowSearch+nowPage
    -else
        h3.ts.header=lang.page.nowPage.before+nowPage+lang.page.nowPage.middle+totalPage+lang.page.nowPage.after
    .ts.stackable.three.cards
        if(data)
            each item in data
                a.ts.card(href=item.link)
                    .content
                        .header=item.title
                        .description!=item.summary
                    if(item.icon)
                        .symbol
                            i(class=item.icon)
        else
            .ts.card
                .content
                    .description=lang.error.nothingHere
    #pageSelections.ts.buttons
        -var firstPage=nowPage-5
        -var lastPage=nowPage+5

        -if(nowPage+4>totalPage)
            -var lastPage=totalPage
            -var firstPage=totalPage-10
        -if(nowPage-4<0)
            -var firstPage=1
            -var lastPage=11

        -for(var i=firstPage; i<lastPage+1; i++)
            -if(i<totalPage+1)
                -if(i == nowPage)
                    a.ts.active.button(href='./' +i)=i
                -else
                    a.ts.button(href='./' +i)=i
include _footer.pug