include _header.pug
include _nav.pug
.ts.container
    -if(page=='search'||page=='search_list')
        h3.ts.header=lang.search.nowSearch+nowPage
    -else
        h3.ts.header=lang.page.nowPage.before+nowPage+lang.page.nowPage.middle+totalPage+lang.page.nowPage.after
    .ts.stackable.three.cards
        if(data)
            each item in data
                a.ts.card(href=item.link)
                    .content
                        .header=item.title
                        .description!=item.summary
                    if(item.icon)
                        .symbol
                            i(class=item.icon)
        else
            .ts.card
                .content
                    .description=lang.error.nothingHere
    #pageSelections.ts.buttons
        -for(i = 0; i < totalPage+4; i++)
            -let page = nowPage - 4+i
            -if(i<9 && page>0 && page<=totalPage)
                -if(page == nowPage)
                    a.ts.active.button(href='./' +page)=page
                -else
                    a.ts.button(href='./' +page)=page
include _footer.pug